<div class="col-md-4 col-md-offset-4">
	<form action="/users" method="post">
		<div class="form-group">
	    	<label for='identification'>Signup</label>
	    	{{input id='identification' class='form-control' placeholder='Enter Username' value=identification}}
	    </div>
	    <div class="form-group">
		    <label for='password'>Password</label>
		    {{input id='password' class='form-control' placeholder='Enter Password' type='password' value=password}}
		    <label for='password'>Confirm Password</label>
		    {{input id='password_confirmation' class='form-control' placeholder='Enter Password' type='password' value=password_confirmation}}
		</div>
	    <button class='btn btn-success' type='submit'>Login</button>
	</form>
</div>